Skip to content
Search or jump to…

Pull requests
Issues
Marketplace
Explore
 
@MikeRhoden 
MikeRhoden
/
test
1
00
Code
Issues
Pull requests
Actions
Projects
Wiki
Security
Insights
Settings
test/public/web.config
@MikeRhoden
MikeRhoden adding the rest of the files during init
Latest commit 9e65696 10 days ago
 History
 1 contributor
18 lines (18 sloc)  619 Bytes
  
<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
  <rewrite>
    <rules>
      <rule name="ReactRouter Routes" stopProcessing="true">
        <match url=".*" />
        <conditions logicalGrouping="MatchAll">
          <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
          <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          <add input="{REQUEST_URI}" pattern="^/(docs)" negate="true" />
        </conditions>
        <action type="Rewrite" url="index.html" />
      </rule>
    </rules>
  </rewrite>
</system.webServer>
</configuration>