.App {
  display: grid;
  grid-template-columns: 1fr;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


.header {
  color: white;
  background: black;
  display: grid;
  font-weight: bold;
  justify-content: center;
  font-size: 16px;
}

.site-name {
  display: grid;
  justify-self: center;
  box-sizing: border-box;
  padding: 10px;
}
.event-name {
  display: grid;
  justify-self: center;
  box-sizing: border-box;
  padding: 10px;
}
.save-container {
  display: grid;
  justify-self: center;
  box-sizing: border-box;
  padding: 10px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 700px) {
  .header {
    grid-template-areas: 
      "site-name event-name save-container";
    font-size: 12px;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    position: sticky;
    top: 0; 
  }

  .site-name {
    grid-area: site-name;
    justify-content: start;
    font-size: 12px;
    padding: 3px
  }

  .event-name {
    grid-area: event-name;
    justify-content: end;
    font-size: 12px;
    padding: 3px;
  }

  .App {
    grid-template-rows: 20px auto;
  }
}