.event {
    display: grid;
    grid-template-columns: repeat(2, 700px);
    grid-template-areas:
        "deadline deadline"
        "group1 group2";
    justify-self: center;
    justify-items: center;
}

.bowl-event {
  display: grid;
  grid-template-columns: repeat(3, 450px);
  grid-template-areas:
      "deadline deadline deadline"
      "bowl-group1 bowl-group2 bowl-group3";
  justify-self: center;
  justify-items: center;
}

.bowl-group1 {
  grid-area: bowl-group1;
}
.bowl-group2 {
  grid-area: bowl-group2;
}
.bowl-group3 {
  grid-area: bowl-group3;
}

.ReactModal__Overlay {
    z-index: 10000;
}
.modal-content-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.modal-content {
    margin: auto;
    width: 60%;
    display: grid;
    justify-content: center;
    background: black;
    border: 1px solid white;
    padding: 10px;
    color: #0099CC;
}

.modal-content button {
    background-color: white;
    margin: 10px;
}

button .modal-button {
    width: fit-content;
    padding: 5px;
    cursor: pointer;
    display: grid;
    justify-self: center;
}

.deadline {
    grid-area: deadline;
    color: #0099CC;
    font-size: 14px;
    font-weight: bold;
}

.deadline a {
    text-decoration: underline;
}

.group1 {
    grid-area: group1;
}

.group2 {
    grid-area: group2;
}

@media (max-width: 1400px) {
    .event {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
        grid-template-areas:
            "deadline"
            "group1"
            "group2";
    }

    .bowl-event {
      display: table-column-group;
      grid-template-columns: 1fr;
      grid-template-rows: auto 1fr 1fr;
      grid-template-areas:
          "deadline"
          "bowl-group1"
          "bowl-group2"
          "bowl-group3";
      justify-self: center;
      justify-items: center;
    }

}