.proposition {
    background: white;
    display: grid;
    font-size: small;
    grid-template-columns: 290px 50px;
}

.proposition-bowl {
  grid-template-columns: 390px 50px;
}

.proposition-pick {
    border: 1px solid #000000;
    border-right: 0px;
    display: grid;
    grid-template-columns: 230px 50px;
    justify-content: start;
    padding: 5px;
}

.proposition-pick-bowl {
  grid-template-columns: 330px 50px;
}

.proposition-home {
    font-weight: bold;
}

.spread {
    color: #0099CC;
    font-size: small;
    font-weight: 500;
    justify-self: right; 
}

.proposition-info {
    display: grid;
    grid-column: span 2;
    grid-template-columns: 1fr auto;
}

.proposition-note {
    box-sizing: border-box;
    color: orangered;
    font-size: x-small;
    justify-self: left;
    padding: 3px;
}

.proposition-start {
    box-sizing: border-box;
    color: orangered;
    font-size: x-small;
    font-weight: bold;
    padding: 3px;
}

.tooLate {
    background: lightsteelblue;
}

.proposition-weight {
    align-content: center;
    border: 1px solid #000000;
    box-sizing: border-box;
    display: grid;
    justify-content: center;
}

.proposition-weight select {
    background-color: #0099CC;
    color: #ffffff;
    font-size: 9px;    
}

.clear {
    justify-self: center;
}

.reset {
    align-items: normal;
    background-color: rgba(0,0,0,0);
    border-color: rgb(0, 0, 238);
    border-style: none;
    box-shadow: none;
    box-sizing: content-box;
    color: #0099CC; 
    cursor: pointer;
    display: inline;
    font: inherit;
    height: auto;
    padding: 0;
    perspective-origin: 0 0;
    text-align: start;
    text-decoration: underline;
    transform-origin: 0 0;
    width: auto;
    -moz-appearance: none;
    -webkit-logical-height: 1em; /* Chrome ignores auto, so we have to use this hack to set the correct height  */
    -webkit-logical-width: auto; /* Chrome ignores auto, but here for completeness */
  }
  
  /* Mozilla uses a pseudo-element to show focus on buttons, */
  /* but anchors are highlighted via the focus pseudo-class. */
  
  @supports (-moz-appearance:none) { /* Mozilla-only */
    button.reset::-moz-focus-inner { /* reset any predefined properties */ 
      border: none;
      padding: 0;
    }
    button.reset:focus { /* add outline to focus pseudo-class */
      outline-style: dotted;
      outline-width: thin;
    }
  }