.group {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(2, 450px);
    grid-template-areas: 
        "group-name group-name"
        "group-area1 group-area2";
    margin-top: 20px;
    justify-self: center;
}

.bowl-group {
  box-sizing: border-box;
  display: grid;
  margin-top: 20px;
  justify-self: center;
  align-items: self-start;
  align-content: start;
}

.bowl-group1 {
  grid-template-columns: repeat(1, 450px);
  grid-template-areas: 
      "group-name"
      "bowl-championship-group"
      "group-separator1"
      "bowl-playoff-group"
      "group-separator2"
      "bowl-tier1-group";
}
.group-separator {
  margin-top: 1em;
}
.group-separator1 {
  grid-area: group-separator1;
}
.group-separator2 {
  grid-area: group-separator2;
}

.bowl-championship-group {
  grid-area: bowl-championship-group;
  justify-self:center;
}

.bowl-playoff-group {
  grid-area: bowl-playoff-group;
  justify-self:center;
}

.bowl-tier1-group {
  grid-area: bowl-tier1-group;
  justify-self:center;
}

.bowl-group2 {
  grid-template-columns: repeat(1, 450px);
  grid-template-areas: 
      "group-name"
      "bowl-tier2-group";
}

.bowl-tier2-group {
  grid-area: bowl-tier2-group;
  justify-self:center;
}

.bowl-group3 {
  grid-template-columns: repeat(1, 450px);
  grid-template-areas: 
      "group-name"
      "bowl-tier3-group";
}

.bowl-tier3-group {
  grid-area: bowl-tier3-group;
  justify-self:center;
}

.group-header {
    background: black;
    display: grid;
    grid-area: group-name;
    padding: 8px 0 4px 0;
    grid-template-columns: 1fr auto 1fr;
    justify-items: center;
    box-sizing: border-box;
    gap: 5px;
    z-index: 10;
}

.group-area1 {
    grid-area: group-area1;
    justify-self: center;
}

.group-area2 {
    grid-area: group-area2;
    justify-self: center;
}

.group-name {
    color: #0099CC;
    font-size: 16px;
    font-weight: bold;
}

.save-event-container {
    padding-right: 6px;
    display: grid;
    justify-self: end;
}

.event-units {
    font-size: 16px;
    font-weight: bold;
    box-sizing: border-box;
    justify-self: start;
    padding-left: 6px;
}

button.save-event {
    background-color: #0099CC;
    border-radius: 0px;
    border: 0px solid white;
    color: white;
    text-align: center;
    font-size: 16px;
    padding: 3px 10px;
    transition: all 0.5s;
    cursor: pointer;
    box-sizing: border-box;
    box-shadow: 0px 2px #cccccc;
    outline: none;
}

button.save-event:active {
    border: 0px solid white;
    color: white;
    text-align: center;
    transition: all 0.5s;
    cursor: pointer;
    box-sizing: border-box;
    transform: translateY(2px);
    box-shadow: none;
    box-shadow: 0px 1px #999999;
}

@media (max-width: 700px) {
    .group {
        grid-template-areas: 
            "group-name"
            "group-area1"
            "group-area2";
        grid-template-columns: 1fr;
    }

    .group-header {
        position: sticky;
        top: 20px;
    }

    .save-event-container {
        padding-right: 1px;
    }

    button.save-event {
        font-size: 12px;
    }
}

