.group {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(2, 350px);
    grid-template-areas: 
        "group-name group-name"
        "group-area1 group-area2";
    margin-top: 20px;
    justify-self: center;
}

.group-header {
    background: black;
    display: grid;
    grid-area: group-name;
    padding: 8px 0 4px 0;
    grid-template-columns: 1fr auto;
    justify-items: center;
    box-sizing: border-box;
    gap: 5px;
    z-index: 10;
}

.group-area1 {
    grid-area: group-area1;
    justify-self: center;
}

.group-area2 {
    grid-area: group-area2;
    justify-self: center;
}

.group-name {
    color: #0099CC;
    padding-left: 35px;
    font-size: 16px;
    font-weight: bold;
}

.save-event-container {
    padding-right: 12px;
    display: grid;
    justify-items: center;
}

.event-units {
    font-size: 12px;
    font-weight: bold;
    padding-top: 4px;
    box-sizing: border-box;
}

button.save-event {
    background-color: #0099CC;
    border-radius: 0px;
    border: 0px solid white;
    color: white;
    text-align: center;
    font-size: 16px;
    padding: 3px 10px;
    transition: all 0.5s;
    cursor: pointer;
    box-sizing: border-box;
    box-shadow: 0px 2px #cccccc;
    outline: none;
}

button.save-event:active {
    border: 0px solid white;
    color: white;
    text-align: center;
    transition: all 0.5s;
    cursor: pointer;
    box-sizing: border-box;
    transform: translateY(2px);
    box-shadow: none;
    box-shadow: 0px 1px #999999;
}

@media (max-width: 700px) {
    .group {
        grid-template-areas: 
            "group-name"
            "group-area1"
            "group-area2";
        grid-template-columns: 1fr;
    }

    .group-header {
        position: sticky;
        top: 20px;
    }

    .save-event-container {
        justify-self: end;
        padding-right: 5px;
    }

    button.save-event {
        font-size: 12px;
    }
}

